@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');

:root {
    --text-light: #c9baba;
    --text-medium: #99c5e2;
    --text-semidark: #1c76b3;
    --text-dark: #1c2125;
    --back-color: #EBEDEF;
    --nav-color: #232e39;
    --card-color: #FFFFFF;
    --border-color: #E2E8F0;
    --border-focus-color: #D0D7E1;
    --btn0-color: #5180a0;
    --btn0-hover-color: #477A9C;
    --btn1-color: #205375;
    --btn1-hover-color: #133A55;
    --btn2-color: #D0D7E1;
    --btn2-hover-color: #AEBCCB;
    --text-font: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--text-font);
    letter-spacing: 1px;
    background-color: var(--back-color);
}

.back {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 46, 57,0.6);
}

.container-header {
    display: grid;
    margin: 2rem 5rem 0;
    grid-template-columns: 2fr 1fr;
    column-gap: 40px;
}

.group-title {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.title {
    font-family: 'Baloo 2', cursive;
    font-size: 46px;
    font-weight: bolder;
    letter-spacing: 1px;
    color: var(--text-dark);
}

.title > strong {
    color: var(--text-semidark);
}

.group-title > img {
    margin: auto 0 auto auto;
    width: 60px;
}

.group-btns {
    display: grid;
    margin: 10px 0;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.help {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.help-content {
    margin: 15% auto;
    width: 18%;
    background-color: var(--card-color);
    border-radius: 5px;
}

.help-header {
    padding: 10px 15px;
    width: 100%;
    color: var(--text-light);
    background-color: var(--btn0-hover-color);
}

.close {
    float: right;
    font-family: 'Baloo 2', cursive;
    font-size: 20px;
    line-height: 18px;
}

.close:hover, .close:focus {
    text-decoration: none;
    cursor: pointer;
}

.help-body {
    padding: 13px 0;
    font-size: 15px;
    text-align: center;
}

.help-body > ul {
    list-style: none;
}

.container-content {
    margin: 1rem 5rem 2.5rem;
}

.container-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 75px;
    column-gap: 40px;
    row-gap: 20px;
}

.section-input {
    grid-column: 1;
    grid-row: 1/2;
}

.section-btns {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    grid-template-rows: 50px;
    column-gap: 30px;
    grid-column: 1;
    grid-row: 2/3;
}

.section-output {
    grid-column: 2;
    grid-row: 1/3;
}

.card {
    height: 100%;
    padding: 25px 35px;
    background-color: var(--card-color);
    border-radius: 4px;
}

.card > label, .msg-result > label {
    display: inline-block;
    margin-bottom: 10px;
}

.card-input {
    display: grid;
    grid-template-rows: 22rem 1rem;
    row-gap: .5rem;
}

.card-input > p {
    text-align: right;
    font-size: 11px;
}

.text {
    width: 100%;
    padding: 10px 12px;
}

.input {
    resize: none;
    border-color: var(--border-color);
}

.input:focus {
    outline-color: var(--border-focus-color);
}

.output {
    grid-row: 1;
    resize: none;
    border: none;
}

.btn {
    font-family: var(--text-font);
    letter-spacing: 1px;
    border: none;
    border-radius: 6px;
}

.btn-help {
    grid-column: 1;
    font-weight: 500;
    color: var(--text-light);
    background-color: var(--btn0-color);
    transition: all 200ms ease;
}

.btn-help:hover {
    cursor: pointer;
    background-color: var(--btn0-hover-color);
}

.btn-info {
    grid-column: 2;
    background-color: var(--btn2-color);
    transition: all 200ms ease;
}

.btn-info:hover {
    cursor: pointer;
    background-color: var(--btn2-hover-color);
}

.btn-on {
    grid-column: 1;
    grid-row: 1;
    color: var(--text-light);
    background-color: var(--btn1-color);
    transition: all 200ms ease;
}

.btn-on:hover {
    cursor: pointer;
    background-color: var(--btn1-hover-color);
}

.btn-off {
    grid-column: 2;
    grid-row: 1;
    background-color: var(--btn2-color);
    transition: all 200ms ease;
}

.btn-off:hover {
    cursor: pointer;
    background-color: var(--btn2-hover-color);
}

.btn-cls {
    grid-column: 3;
    grid-row: 1;
    border: 2px solid var(--btn2-hover-color);
    transition: all 200ms ease;
}

.btn-cls:hover {
    cursor: pointer;
    background-color: var(--btn2-hover-color);
}

.btn-copy {
    width: 60%;
    height: 50px;
    grid-row: 2;
    border: 2px solid var(--btn2-hover-color);
    transition: all 200ms ease;
}

.btn-copy:hover {
    cursor: pointer;
    background-color: var(--btn2-hover-color);
}

.msg-default {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.msg-default > img {
    width: 90%;
}

.msg-default > p {
    margin-top: 6px;
    font-size: 14px;
}

.msg-result {
    display: none;
    height: 100%;
}

.result {
    display: grid;
    grid-template-rows: 25rem 50px;
    row-gap: 20px;
    justify-items: center;
}

.container-footer {
    display: flex;
    height: 32px;
    background-color: var(--nav-color);
    justify-content: center;
}

.credits {
    line-height: 32px;
    color: var(--text-light);
    font-size: 12px;
}

.credits > a {
    color: var(--text-light);
    text-decoration: none;
}

.credits > a:hover {
    color: var(--text-medium);
}

@media only screen and (max-width: 768px) {
    .container-header {
        margin: 1rem 2.5rem 0;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 20px;
    }

    .title {
        font-size: 30px;
        line-height: 28px;
    }

    .container-section {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 50px auto;
        row-gap: 20px;
    }

    .group-title > img {
        margin: auto 0 auto 60px;
        width: 60px;
    }

    .group-btns {
        margin: 3px 0;
        column-gap: 20px;
    }    

    .help-content {
        margin: 45% auto;
        width: 60%;
    }

    .container-content {
        margin: 1rem 2.5rem 3rem;
    }
    
    .container-section {
        width: 100%;
    }

    .section-btns {
        column-gap: 15px;
    }

    .section-output {
        grid-column: 1;
        grid-row: 3/4;
    }

    .card-input {
        grid-template-rows: 15rem 1rem;
    }

    .btn {
        font-size: 12px;
    }

    .result {
        grid-template-rows: 15rem 50px;
    }
}